
.room{
  height: 47vh;
}

nav{
  height: 6vh;
}

.form-row{
  margin-top: 1px;
}

.disabled, .disabled *{
	pointer-events: none;
  border: 0px !important;
  -moz-appearance: window;
  -webkit-appearance: none;
  padding-right: 20px;
  background-color: inherit !important;
  color: inherit !important;
}

.disabled .autocomplete__box{
  margin-left: -2.2em;
}

.autocomplete__box {
 
  margin-left: -.45em;
  border-radius: 0 !important;
  border: 1px solid transparent !important;

}

.room{
  border: 1px solid rgb(40, 40, 40);
  padding-right: 2em !important;
  padding-top: .5em !important;
}



.room.client_waiting{
  background-color: green;
}

.room.treatment_being_applied{
  background-color: rgb(150,150,0);
}

.room.client_in_treatment{
  background-color: purple;
}

.room.danger{
  background-color: rgb(217, 83, 79);
}